body {
    background-image: url(../img/fullbloom.png);
}

.logo {
    font-family: 'Cinzel', serif;
}

.logo a {
    color: rgba(0,0,0,.9);
}

.logo a:hover,
.logo a:active {
    text-decoration: none;
}